<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GhostStories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />

  </head>
  <% if !logged_in?%>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">JOIN THE GHOST HUNTERS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/login">Log In <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cities">City Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/leaderboard">User Leaderboard</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/ghosts/leaderboard">Ghost Leaderboard</a>
  </li>
      
     
    </ul>
  </div>
</nav>
<% end %>

  <body>
    <% if logged_in?%>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">WELOME BACK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/users/<%=current_user.id%>">Your Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cities">City Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Users</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/leaderboard">User Leaderboard</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/ghosts/leaderboard">Ghost Leaderboard</a>
    </li>
       
      </ul>
    </div>
  </nav>
      <form method='post' action='/logout'>
        <button type='submit' value='Log Out'>Log Out!</button>
      </form>

    <% end %>
    <div class="wrapper">    
      <%= yield %>
    </div>
  </body>
</html>

